@inherits TestComponentBase

<select size="4" style="width : 100%" @onchange="CustomerSelected">
  @foreach (var customer in Customers)
  {
    <option value="@customer.CustomerId">@customer.Name</option>
  }
</select>
<br/>

@*Add Customer: <input @bind="@NewCustomerName" />
<button @onclick="CustomerAdding">Add</button>
<br/>*@


@if (SelectedCustomer != null)
{
  <div style="background-color: lightgray ;padding : 1vw">
    <EditForm Model="@SelectedCustomer" OnValidSubmit="@UpdateButtonClicked">
      <DataAnnotationsValidator />
      <ValidationSummary />

      Name:
      <InputText id="name" @bind-Value="@SelectedCustomer.Name" />
      <br />
      <br />

      Email:
      <InputText id="email" @bind-Value="@SelectedCustomer.Email" />
      <br />
      <br />
      <button type="submit">Save</button>
      <button type="button" @onclick="ResetButtonClicked">Reset</button>
      <button type="button" @onclick="DeleteButtonClicked">Delete</button>
    </EditForm>

  </div>
}